{% extends 'base.html' %}
{% set mytitle="Hello" %}

{# ----------- title -------------- #}
{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #} 
{% block content %}

<link href="{{ SITEURL }}/draw/draw.css" rel="stylesheet" stype="text/css" />

<div ng-app="drawApp">
    <div ng-controller="drawController" ng-init="initialize()">
        <div class="row">
            <div class="col-sm-12">
                <div id="mydraw">
                    <drawing></drawing>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ SITEURL }}/draw/draw_modcontrol.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/draw/draw_ballandstick.js"></script>

{% endblock %}

